{% set switch = devices[inventory_hostname] %}
{% set vlanlist = common.vlans %}
{% set profile = switch["profile"] %}
{% set vlans = [] %}

#####
## General
#####
auto eth0
iface eth0 inet dhcp
    vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

######
### Downlink ports
######
{% for link in switch["interfaces"]["downlinks"] %}
auto {{ link }}
iface {{ link }}


{% endfor %}

################################################
{# Loop to populate all vlans #}
{% for vlan in vlanlist | default() %}
{%   do vlans.append(vlan|string) %}
{% endfor %}


######
### Bridge
######
auto bridge
iface bridge
    bridge-ports {{ switch["interfaces"]["downlinks"] | join(' ') }}
    bridge-vids {{ vlans | join(' ') }}
    bridge-vlan-aware yes
    bridge-pvid 1
    mstpctl-treeprio 4096

#######
{% for vlan in switch["interfaces"]["svi"] | default() %}

auto vlan{{ vlan }}
iface vlan{{ vlan }}
    vlan-id {{ vlan }}
    vlan-raw-device bridge
    address {{ switch["interfaces"]["svi"][vlan].unique_ip }}

{% endfor %}
