{% set switch = devices[inventory_hostname] %}
{% set vlanlist = common.vlans %}
{% set profile = switch["profile"] %}
{% set vlans = [] %}

#####
## General
#####
auto eth0
iface eth0 inet dhcp
    vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto


######
### Uplink ports
######
{% for link in switch["interfaces"]["uplinks"] %}
auto {{ link }}
iface {{ link }}

{% endfor %}


######
### Trunk ports
######
{% for link in switch["interfaces"]["trunkports"] %}
auto {{ link }}
iface {{ link }}
  mstpctl-bpduguard yes

{% endfor %}

######
### Access ports
######
{% for untaggedport in switch["interfaces"]["accessports"] | default() %}
auto {{ untaggedport }}
iface {{ untaggedport }}
  bridge-access {{ switch["interfaces"]["accessports"][untaggedport].vlan }}
  mstpctl-bpduguard yes

{% endfor %}


################################################
{# Loop to populate all vlans #}
{% for vlan in vlanlist | default() %}
{%   do vlans.append(vlan|string) %}
{% endfor %}


######
### Bridge
######
auto bridge
iface bridge
    bridge-ports {{ switch["interfaces"]["uplinks"] | join(' ') }} {{ switch["interfaces"]["trunkports"] | join(' ') }} {{ switch["interfaces"]["accessports"] | join(' ') }}
    bridge-vids {{ vlans | join(' ') }}
    bridge-vlan-aware yes
    bridge-pvid 1
